<h1>Sign In</h1>
<p id="notice"><%= notice %></p>

<%= form_with url: sessions_path do |form|%>
<p>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.text_field :email, placeholder: "Email" %>
  </div>
</p>

<p>
  <div class="field">
    <%= form.label :password %><br />
    <%= form.password_field :password, placeholder: "Password" %>
  </div>
</p>

<p>
  <div class="actions">
    <%= form.submit "Sign In" %>
  </div>
</p>
<% end %>
