<h1>Sign Up</h1>

<%= form_for @author do |form| %>
  <% if @author.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <div class="field">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, placeholder: "First Name" %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, placeholder: "Last Name" %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :email %><br />
      <%= form.text_field :email, placeholder: "Email" %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :avatar %><br />
      <%= form.text_field :avatar, placeholder: "URL to your photo" %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :password %><br />
      <%= form.password_field :password, placeholder: "Password" %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, placeholder: "Confirm Password" %>
    </div>
  </p>

  <p>
    <div class="actions">
      <%= form.submit "Sign Up" %>
    </div>
  </p>

<% end %>
