<h4><%= @author.full_name %></h4>
<p><%= render 'authors/avatar' %></p>
<p><%= @author.email %></p>


<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-light ml-3' %>
<%= link_to 'Back', posts_path, class: 'btn btn-light ml-3' %>
