<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
  </p>

  <p>
    <div class='field'>
      <%= form.select(:author_id, Author.all.collect {|a| [ a.full_name, a.id ] }, {}, {:class => "select_author"}) %>
    </div>
  </p>

<% if false %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Author
    </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <%= Author.all.each do |full_name| %>
          <li><%= Author.full_name %></li>
        <% end %>
      </ul>
    </div>
<% end %>

  <p>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
</p>

  <p>
    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>
  </p>

  <p>
    <div class="field">
      <%= form.label :image %>
      <%= form.text_field :image %>
    </div>
  </p>

  <p>
    <div class="actions">
      <%= form.submit %>
    </div>
  </p>
<% end %>
