<p id="notice"><%= notice %></p>

<p>
  <div class="text-center">
    <h1><%= @post.title %></h1>
  </div>
</p>

<p>
  <div class="text-center">
    <h4 class="fw-lighter">Author: <%= @post.author.full_name %></h4>
  </div>
</p>

<p>
  <div class="text-center">
    <%= image_tag("#{@post.image}") %>
  </div>
</p>

<p>
  <div class="fst-italic">
    <%= @post.content %>
  </div>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
