<p id="notice"><%= notice %></p>

<p>
  <div class="text-center">
    <h1><%= @post.title %></h1>
  </div>
</p>

<p>
  <div class="text-center">
    <h4 class="fw-lighter">Author: <%= @post.author.full_name %></h4>
  </div>
</p>

<%= render 'authors/avatar' %>

<p>
  <div class="text-left">
    <h4 class="fw-lighter">Updated at: <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago.</h4>
  </div>
</p>


<p>
  <div class="text-left">
    <h4 class="fw-lighter">Views count: <%= @post.views_count %></h4>
  </div>
</p>


<p>
  <div class="text-center">
    <%= image_tag("#{@post.image.presence || path_to_default_image}") %>
  </div>
</p>

<p>
  <div class="fst-italic">
    <%= @post.content %>
  </div>
</p>

<p>
  <%= render 'comments/comment_status_change' %>
</p>

<p><strong>Comments:</strong></p>
<p class="fw-light">
  <% if params[:comments_scope] == 'unpublished' %>
    <%= render @post.comments.unpublished %>
  <% else %>
    <%= render @post.comments.published %>
  <% end %>
</p>

<% if current_author %>
  <strong>New comment: </strong>
  <p>
    <%= render 'comments/form', locals: { post: @post }, parent_id: nil %>
  </p>
<% else %> 
  <p>You need to <%= link_to "sign up", register_path, method: :get %> or <%= link_to "sign in", sign_in_path %> to leave a comment.</p>
<% end %>
</p>

<% if current_author && current_author.id == @post.author.id %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', posts_path %>
