<p id="notice"><%= notice %></p>

<p>
  <div class="text-center">
    <h1><%= @post.title %></h1>
  </div>
</p>

<p>
  <div class="text-center">
    <h4 class="fw-lighter">Author: <%= @post.author.full_name %></h4>
  </div>
</p>

<p>
  <div class="text-left">
    <h4 class="fw-lighter">Updated at: <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago.</h4>
  </div>
</p>

<p>
  <div class="text-left">
    <h4 class="fw-lighter">Views count: <%= @post.impressionist_count %></h4>
  </div>
</p>

<p>
  <div class="text-center">
    <%= image_tag("#{@post.image}") %>
  </div>
</p>

<p>
  <div class="fst-italic">
    <%= @post.content %>
  </div>
</p>

<p><strong>Comments:</strong></p>
  <p class="fw-light">
    <%= render @post.comments.published %>
  </p>

<p>
  <%= render 'comments/comment_status_change' %>
</p>

  <p>
    <%= render 'comments/form', locals: { post: @post } %>
  </p>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', posts_path %>
